<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdmServ</servlet-name>
        <servlet-class>Servlets.Administrador.AdmListar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmEditar</servlet-name>
        <servlet-class>Servlets.Administrador.AdmEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmIncluir</servlet-name>
        <servlet-class>Servlets.Administrador.AdmIncluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmExcluir</servlet-name>
        <servlet-class>Servlets.Administrador.AdmExcluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatListar</servlet-name>
        <servlet-class>Servlets.Categoria.CatListar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatIncluir</servlet-name>
        <servlet-class>Servlets.Categoria.CatIncluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatEditar</servlet-name>
        <servlet-class>Servlets.Categoria.CatEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatExcluir</servlet-name>
        <servlet-class>Servlets.Categoria.CatExcluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatVisualizar</servlet-name>
        <servlet-class>Servlets.Categoria.CatVisualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdListar</servlet-name>
        <servlet-class>Servlets.Produto.ProdListar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdListarCat</servlet-name>
        <servlet-class>Servlets.Produto.ProdListarCat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdIncluir</servlet-name>
        <servlet-class>Servlets.Produto.ProdIncluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdVisualizar</servlet-name>
        <servlet-class>Servlets.Produto.ProdVisualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListar</servlet-name>
        <servlet-class>Servlets.Usuario.UserListar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserIncluir</servlet-name>
        <servlet-class>Servlets.Usuario.UserIncluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEditar</servlet-name>
        <servlet-class>Servlets.Usuario.UserEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserExcluir</servlet-name>
        <servlet-class>Servlets.Usuario.UserExcluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserVisualizar</servlet-name>
        <servlet-class>Servlets.Usuario.UserVisualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraListar</servlet-name>
        <servlet-class>Servlets.Compra.CompraListar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraEditar</servlet-name>
        <servlet-class>Servlets.Compra.CompraEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraExcluir</servlet-name>
        <servlet-class>Servlets.Compra.CompraExcluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraIncluir</servlet-name>
        <servlet-class>Servlets.Compra.CompraIncluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraVisualizar</servlet-name>
        <servlet-class>Servlets.Compra.CompraVisualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmLogin</servlet-name>
        <servlet-class>Servlets.Administrador.AdmLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pesquisar</servlet-name>
        <servlet-class>Servlets.Produto.Pesquisar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraCarrinho</servlet-name>
        <servlet-class>Servlets.Compra.CompraCarrinho</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdmServ</servlet-name>
        <url-pattern>/AdmServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmEditar</servlet-name>
        <url-pattern>/AdmEditar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmIncluir</servlet-name>
        <url-pattern>/AdmIncluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmExcluir</servlet-name>
        <url-pattern>/AdmExcluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatListar</servlet-name>
        <url-pattern>/CatListar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatIncluir</servlet-name>
        <url-pattern>/CatIncluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatEditar</servlet-name>
        <url-pattern>/CatEditar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatExcluir</servlet-name>
        <url-pattern>/CatExcluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatVisualizar</servlet-name>
        <url-pattern>/CatVisualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdListar</servlet-name>
        <url-pattern>/ProdListar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdListarCat</servlet-name>
        <url-pattern>/ProdListarCat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdIncluir</servlet-name>
        <url-pattern>/ProdIncluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdVisualizar</servlet-name>
        <url-pattern>/ProdVisualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListar</servlet-name>
        <url-pattern>/UserListar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserIncluir</servlet-name>
        <url-pattern>/UserIncluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEditar</servlet-name>
        <url-pattern>/UserEditar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserExcluir</servlet-name>
        <url-pattern>/UserExcluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserVisualizar</servlet-name>
        <url-pattern>/UserVisualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraListar</servlet-name>
        <url-pattern>/CompraListar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraEditar</servlet-name>
        <url-pattern>/CompraEditar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraExcluir</servlet-name>
        <url-pattern>/CompraExcluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraIncluir</servlet-name>
        <url-pattern>/CompraIncluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraVisualizar</servlet-name>
        <url-pattern>/CompraVisualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmLogin</servlet-name>
        <url-pattern>/AdmLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pesquisar</servlet-name>
        <url-pattern>/Pesquisar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraCarrinho</servlet-name>
        <url-pattern>/CompraCarrinho</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
